body {text-align: center}
a {
  background-image: linear-gradient(#D51C2C, #FCDE03, #018A2D);
  font-size: 75px
}
.grad {
    background: linear-gradient(180deg, #31b7c4, #9217e8);
    background-size: 400% 400%;
    animation: AnimationName 10s ease-in-out infinite;
}

@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 75%}
    100%{background-position:50% 0%}
}

p{
  font-size: 75px
}
