body {text-align: center}

.navOption {
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Catamaran', sans-serif;
  color: blue;
  text-shadow: none;
  /* background-image: linear-gradient(#D51C2C, #FCDE03, #018A2D); */
}

li a:hover {
  background-color: #111;
}

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

a {
  text-transform: uppercase;
  font-size: 60px;
  font-family: 'Catamaran', sans-serif;
  color: rgb(255, 255, 255, 0.8);
  text-shadow: -2px -3px blue;
  /* background-image: linear-gradient(#D51C2C, #FCDE03, #018A2D); */
}
.grad {
    background: linear-gradient(180deg, #31b7c4, #9217e8);
    background-size: 400% 400%;
    animation: AnimationName 10s ease-in-out infinite;
}

@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 75%}
    100%{background-position:50% 0%}
}

/* horizontal navigation bar */
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}



.navitem{
  display: inline-block;
  padding: 10px;
  left: 10px;
  float: left;
}

/* .linkedin {
  position: relative;
  bottom: 0;
  right: 57%;
  left: 43%;
} */

p{
  font-size: 75px
}


h1 {
  text-transform: uppercase;
  font-size: 100px;
  font-family: 'Catamaran', sans-serif;
  color: rgb(255, 255, 255, 0.8);
  text-shadow: -2px -3px blue;
  
}

h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-family: 'Catamaran', sans-serif;
  color: rgb(255, 255, 255, 0.8);
  text-shadow: -2px -3px blue;
}
